<% include partials/_header %>

    <!-- navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><img src="MySqlSVD.png" style="width: 100px"></a>
        <a href="/unidades" class="btn btn-info">
          Unidades
        </a>
    </nav>

<% include partials/_footer %>