<% include partials/_header %>

  <!-- navigation -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <!--<a class="navbar-brand" href="/">Sql Admon</a>-->
    <a href="#" class="navbar-brand"><img src="MySqlSVD.png" style="width: 100px"></a>
    <a href="/catalogos" class="btn btn-info">
      Catalogos
    </a>
  </nav>

<% include partials/_footer %>